.number-input {
	width: 100%;
	margin: auto;
	font-weight: 800;
	white-space: nowrap;
	display: inline-block;
}

.number-input input {
	padding: 9px;
	font-size: 15px;
	display: inline-block;
	border: 2px solid #AAB8C8;
	border-radius: 8px;
	text-align: center;
	letter-spacing: 1px;
	max-width: 189px;
	width: 100%;
}

.number-input :focus {
	outline: none;
	border: 2px solid #00b2ff;
}